# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Dockerfile
README.md
connectfour/.idea/.gitignore
connectfour/.idea/misc.xml
connectfour/.idea/modules.xml
connectfour/.idea/vcs.xml
connectfour/.idea/libraries/com_google_code_gson_gson_2_8_6.xml
connectfour/.idea/libraries/junit_junit_4_11.xml
sdks/.DS_Store
sdks/cs/cs.sln
sdks/cs/Readme.md
sdks/cs/.vscode/launch.json
sdks/cs/.vscode/tasks.json
sdks/cs/ai/AI.cs
sdks/cs/ai/ai.csproj
sdks/cs/ai/GameMessage.cs
sdks/cs/ai/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
sdks/cs/ai/obj/Debug/netstandard2.0/ai.AssemblyInfo.cs
sdks/cs/ai/obj/Debug/netstandard2.0/ai.AssemblyInfoInputs.cache
sdks/cs/ai/obj/Debug/netstandard2.0/ai.csproj.CoreCompileInputs.cache
sdks/cs/connectfour/connectfour.csproj
sdks/cs/connectfour/Program.cs
sdks/cs/connectfour/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
sdks/cs/connectfour/obj/Debug/netcoreapp2.1/othello.AssemblyInfo.cs
sdks/cs/connectfour/obj/Debug/netcoreapp2.1/othello.AssemblyInfoInputs.cache
sdks/cs/connectfour/obj/Debug/netcoreapp2.1/othello.csproj.CoreCompileInputs.cache
sdks/cs/test/Test.cs
sdks/cs/test/test.csproj
sdks/cs/test/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
sdks/cs/test/obj/Debug/netcoreapp2.1/test.AssemblyInfo.cs
sdks/cs/test/obj/Debug/netcoreapp2.1/test.AssemblyInfoInputs.cache
sdks/cs/test/obj/Debug/netcoreapp2.1/test.csproj.CoreCompileInputs.cache
sdks/java/sdks.iml
sdks/java/AI/src-test/AITest.java
sdks/javascript/ai.js
sdks/javascript/client.js
sdks/javascript/package.json
sdks/javascript/package-lock.json
sdks/javascript/README.md
sdks/javascript/test.js
sdks/javascript/yarn.lock
sdks/python/client.py
sdks/python/README.md
sdks/python/test.py
